body {
  padding-bottom: 50px;
}

.demo {
  margin-bottom: 10px;
}

.demo div {
  border-radius: 10px;
  background-color: #397D24;
  border: 2px solid white;
  background: linear-gradient(to right bottom,
                rgba(0,67,26,1) 0%,
                #397D24 100% );
}
.demo h3 {
  margin: .75em 0em;
  color: white;
}
