header {
  overflow: auto;
}

nav {
  padding: 1em 0px;
  padding-bottom: 0px;
  .button {
    background-color: rgba(255,255,255,.5);
    color: $header-color;
    &:hover {
      background-color: white;
    }
  }
}

.demo {
  margin-bottom: 10px;
  div {
    border-radius: 10px;
    background-color: #006131;
    border: 2px solid white;
  }
  h3 {
    margin: .75em 0em;
    color: white;
  }
}

.line.demo {
  margin-left: 0;
  margin-right: 0;
}

p.demo {
  margin-top: 1em;
}
h2.demo {
  margin-top: 2em;
}

.blueprint div {
  height: 20px;
  margin-bottom: 9px;
  border-radius: 5px;
  background: #DCDCDC;}

#buttons {
  .bar-xs-12 {
    padding-bottom: 10px;
  }
}
