// RESET /////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////

*, *:after, *:before {
  box-sizing: border-box;
}

html,
body,
ul,
ol {
   margin: 0;
  padding: 0;
}
