// SETTINGS //////////////////////////////////////////////////
//////////////////////////////////////////////////////////////

$header-font: 'Open Sans', 'Helvetica', sans-serif;
$body-font: '', 'Arial', sans-serif;
$font-color: #333;
$header-color: #255D14;
$link-color: $header-color;

body {
  font-family: $body-font;
  color: $font-color;
  font-size: large;
}

// HEADINGS //////////////////////////////////////////////////

h {
  font-family: $header-font;
  margin: 1em 0 0.5em 0;
  color: $header-color;
  &1 {
    @extend h;
    font-size: 2em;
    margin-bottom: 1em;
  }
  &2 {
    @extend h;
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: .15em;
  }
  &3 {
    @extend h;
    font-size: 1.17em;
    font-weight: 400;
    font-style: italic;
  }
  &4 {
    @extend h;
    font-size: 1em;
    font-weight: 600;
    margin-top: 0;
  }
  &5 {
    @extend h;
    font-size: .83em;
    font-weight: 500;
    margin-top: 0;
  }
}

.center {
  text-align: center;
}

.subtitle {
  margin-top: 0;
}

// PARAGRAPHS ////////////////////////////////////////////////

p {
  margin-top: 0;
}


// LINKS /////////////////////////////////////////////////////

a {
  text-decoration: none;
  color: $link-color;
  &:hover {
    color: darken($link-color, 10%);
  }
  &:visited {
    color: darken($link-color, 5%);
  }
}
